html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#meuvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.relogio {
    position: relative;
    z-index: 2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: "Sedan", serif;
}

.display {
    width: 300px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    border-radius: 10px;
    font-size: 5rem;
}

footer {
    font-size: 2rem;
    margin-top: 10px;
}